<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email validation with db</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p> {{message}} </p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  
  
  <h3>Enter your email:</h3>
  <form action='/process' method='post'>
  <label>
    Email Address: <input type='text' name='email'>
  </label>
  <br>
  <input type='submit' value='Submit'>
  </form>
  
</body>
</html>