<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flask fundamentals - playground</title>
  <style>
  body{
      background-color:white;
  }

  h1{
    color:maroon;
    margin-left:40px;
  }

  .box{
    display:inline-block;
    height:40px;
    width:40px;
    background-color: green;
  }
  
  </style>
</head>
<body>
  <h3>Welcome!</h3>
  {% for i in range (0,times): %}
  <div class="box" style="background-color: {{color}};" >

  </div>
  {% endfor %}
  
</body>
</html>