<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Dojo Survey</h1>
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action='/submit' method='post'>
    <label>
      Your Name: <input type='text' name='name'>
    </label>
    <br>
    <label>
      Dojo Location:
      <select name='location'>
        <option value="burbank">Burbank</option>
        <option value="glendale">Glendale</option>
        <option value="pasadena">Pasadena</option>
      </select>
    </label>
    <br>
    <label>
      Favorite Language:
      <select name='language'>
        <option value='python'>Python</option>
        <option value='ruby'>Ruby</option>
        <option value='c'>c</option>
      </select>
    </label>
    <br>
  
  <label>
    Comment (optional):
    <textarea name="comment">

    </textarea>
  </label>
  <br>
  <input type='submit' value='Button'>
  </form>
</body>

</html>