<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dojo Survey</title>
</head>
<body>
  <h1>Dojo Survey</h1>
  <form action='/result' method="post">
  <label>
    Your Name: <input type='text' name='name'>
  </label>
  <br>
  <label>
    Dojo Location: <select name="location">
      <option value= "sf">San Francisco</option>
      <option value= "glendale"> Glendale</option>
      <option value= "new york">New York</option>
    </select> 
  </label>
  <br>
  <label>
    Comment (optional):
    <textarea name='comment'></textarea>
  </label>
  <br>
  <input type="submit" value="button">

  
  
  </form>
  
</body>
</html>